<div class="jumbotron" style="text-align: center; ">
    <h2>Welcome to Bank Management & Forex Services</h2>
  </div>
  
  <hr>
  
  <div class="container">
    <div class="row">
      <div class="col-sm">
  
        <a  class="btn btn-info btn-lg" routerLink="/accounts">Account Management</a>
      </div>
      <div class="col-sm">
  
        <a  class="btn btn-primary btn-lg" routerLink="/payments">Payment Services</a>
      </div>
      <div class="col-sm">
        <a  class="btn btn-success btn-lg" routerLink="/forex">Forex Services</a>
  
      </div>
    </div>
  </div>